HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.log
*.properties
*.gz
*.iml

### Custom ###
package-lock.json
**/frontend/generated/
**/node_modules/
**/src/main/bundles/
**/tsconfig.json
**/types.d.ts
**/vite.config.ts
**/vite.generated.ts
node_modules/
package.json
**/mensahub/
**/.vscode/
/.vscode/