.meal-box {
    background-color: rgb(255, 255, 255);
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Flexbox properties for responsive layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.meal-box:hover {
    box-shadow: 0 8px 16px rgb(26, 128, 248);
}

.meal-box h4 {
    color: #333333;
    font-size: 1.5em;
    margin-bottom: 10px;
    min-height: 3em; /* Ensure consistent height for titles */
}

.meal-box .price {
    color: rgb(26, 128, 248);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    min-height: 2em; /* Ensure consistent height for prices */
}

.meal-box .category {
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 2px;
}

.meal-box .category-icon {
    color: rgb(26, 128, 248); /* Match icon color with category badge text */
}

.meal-box .category-layout {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.meal-box .accordion-summary {
    padding: 10px;
}

.meal-box .accordion-content {
    padding: 10px;
}

.meal-box .accordion-content span {
    color: #666666;
    font-size: 0.9em;
}

/* Category specific styles */
.category.Veganes-Gericht {
    background-color: #4caf50;
}

.category.Pastateller {
    background-color: #c1ce0b;
}

/* Weitere Category-Styles */

/* Responsive layout */
@media (max-width: 1200px) {
    .meal-box {
        flex: 1 1 calc(50% - 20px); /* 2 columns */
        min-width: calc(50% - 20px);
    }
}

@media (max-width: 800px) {
    .meal-box {
        flex: 1 1 calc(100% - 20px); /* Full width */
        min-width: calc(100% - 20px);
    }
}

.rating-layout {
    margin-top: auto; /* Push rating layout to the bottom */
}